.triangle {
  width: 0;
  height: 0;
  margin-bottom: 20px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid rgb(89, 89, 168);
}
#par1{
background-color:rgb(89, 89, 168);
color: white
}