
$color:rgba(167, 40, 40, 0.966);
.square-in-scss {
    width: 0px;
    height: 0px;
    margin-bottom: 20px;
    border:  100px solid $color;
  }
  #par2{
  background-color:$color;
  color: white
  }